* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-btn-color: #238636;
  --secondary-btn-color: #29a842;
  --main-red-btn-color: #bc0000;
  --secondary-red-btn-color: #d60000;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ddddda;
}

html,
body {
  height: 100vh;
}

#formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  display: none;
  position: absolute;
  top: 35%;
  text-align: center;
  background-color: white;
  padding: 25px;
  border-radius: 5%;
}

#formFlex {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#formFlex > * {
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 0.08rem;
}

input[type=text],
[type=number] {
  padding: 5px 10px;
  border-radius: 0.5rem;
  border: 2px solid black;
  cursor: pointer;
}

#form > button {
  padding: 10px 15px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
}

#formCheckPanel {
  margin-top: 10px;
}

svg {
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px 0px 70px;
  height: 75px;
  background-color: white;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#addBookBtn {
  color: white;
  font-weight: bold;
  background-color: var(--main-btn-color);
  padding: 11px 20px 11px 20px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

#addBookBtn:hover {
  background-color: var(--secondary-btn-color);
}

#submitBtn,
#closeBtn {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: white;
}

#submitBtn {
  background-color: var(--main-btn-color);
}

#submitBtn:hover {
  background-color: var(--secondary-btn-color);
}

#closeBtn {
  background-color: var(--main-red-btn-color);
}

#closeBtn:hover {
  background-color: var(--secondary-red-btn-color);
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-weight: bold;
  margin: 20px 20px 20px 20px;
  padding: 30px 60px 30px 60px;
  border-radius: 1.3rem;
  min-width: 700px;
}

.cardBtn {
  align-self: flex-end;
  font-weight: bold;
  border: none;
  background-color: white;
  cursor: pointer;
  position: absolute;
  margin-bottom: 35px;
  margin-left: 615px;
}

.readToggleBtn {
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 0.7rem;
  padding: 5px 10px 5px 10px;
  height: 30px;
  width: 80px;
}
